
.about-section{
    background-color: rgba(0, 0, 0, 0.9); 
    padding: 30px;
    padding-bottom: 0;
}
.about-sub-heading{
    color: #aaaaaa;
    letter-spacing: 2px;
    font-size: 14px;
    position: relative;
    font-weight: 500;
    text-transform: uppercase;
}
.about-sub-heading:after{
    content: '';
    background-color: #4ceb95;
    height: 1.5px;
    width: 120px;
    position: absolute;
    top: 50%;
    right: -130px;
}
.about-heading h1{
    font-size: 36px;
    font-weight: 700;
}
.about-info{
    padding: 30px 0;
}
.about-info h4{
    color: #18d26e;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 15px;
    
}
.about-desc{
    font-style: italic;
    font-size: 15px;
}
.info{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0px;
    padding: 35px 0;
}
.info div{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.info div strong{
    margin-right: 10px;
}
.right-arrow-icon{
    color: #4ceb95 ;  
}


.about-interests{
    padding: 30px 0;
}

.interests-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 30px 0 ;
}
.interest{
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
}
.interest:hover{
    background-color: rgba(255, 255, 255, 0.12);
}
.interest span{
    margin-left: 10px;
}


@media(max-width:990px){
    .about-me{
        grid-template-columns: 1fr;
    }
    .info{
        grid-template-columns: 1fr;
    }
    .skills{
        grid-template-columns: 1fr;
    }

}

@media(max-width:700px){
    .interests-section{
        grid-template-columns: repeat(1, 1fr);
    }
}

